## Temp
tmp/
*.tmp
*.out

## Python
.python-version
.venv/
__pycache__/
*.py[cod]

## Secrets
.env
*.env
env/*
.env/*
*.local
*.local.*
local.*
[.]secret[s]/*
[.]secret[s].*
*.secret[s]

## Misc
.ansible/

changed-files.txt
.changed-components.txt

trace.txt
hugo-trace.txt
